@model List<Practica3.EF.MVC.Models.EmployeesView>


@{
    ViewBag.Title = "Employees Page";
}
<h1>Index Emplyees</h1>

<table class="table">
    <thead>
        <tr>

            <td scope="col">Id </td>
            <td scope="col">Nombre </td>
            <td scope="col">Apellido </td>
            <td scope="col">Action</td>
            <td scope="col">Action</td>
        </tr>
    </thead>
    <tbody>
        <tr>
         
        </tr>

    @foreach (var employee in Model)
    {
        <tr>
            <td scope="row">@employee.id</td>
            <td>@employee.firstName</td>
            <td>@employee.lastName</td>
            <td>@Html.ActionLink("Actualizar", "UpdateInsert", new { id = employee.id })</td>
            <td>@Html.ActionLink("Borrar", "Delete", new { id = employee.id }, new { onclick = "return confirm('Estas seguro de borrar?')" })</td>
        </tr>
    }
 
    </tbody>
</table>
<div>
    @Html.ActionLink("Insertar Empleado", "UpdateInsert")
</div>

